$HEADER_HEIGHT : 54px;

$CONTAINER_WIDTH : 1000px;

$LOGIN_FORM_MARGIN_TOP : 150px;
$SIGNUP_FORM_MARGIN_TOP : 150px;

$COLOR_PRIMARY : #FA4D56;

$LOGIN_FORM_WIDTH : 300px;

$PORTFOLIO_IMG_LIST_ITEM_SIZE : 60px;