$HEADER_HEIGHT : 54px;

$CONTAINER_WIDTH : 1000px;

$LOGIN_FORM_MARGIN_TOP : 150px;
$SIGNUP_FORM_MARGIN_TOP : 150px;

$COLOR_PRIMARY : #FA4D56;

$LOGIN_FORM_WIDTH : 300px;



$FONT_COLOR_50 :#fafafa;
$FONT_COLOR_100 : #f5f5f5;
$FONT_COLOR_200 : #eeeeee;
$FONT_COLOR_300 : #e0e0e0;
$FONT_COLOR_400 : #bdbdbd;
$FONT_COLOR_500 : #9e9e9e;
$FONT_COLOR_600 : #757575;
$FONT_COLOR_700 : #616161;
$FONT_COLOR_800 : #424242;
$FONT_COLOR_900 : #212121;