.index {
  width: 100%;
  height: 100vh;
  display: flex;
}

.aside {
  width: 220px;
  background-color: #2ECC71;
  z-index: 10;
  //height: auto;
}

.container {
  flex-grow: 1;
  background-color: darkgray;
  z-index: 1;
}

.modal-style {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff; // 흰색 배경
  border-radius: 8px; // 모서리 둥글게
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); // 부드러운 그림자
  padding: 20px; // 패딩
  width: 600px; // 너비 조정
  max-width: 90%; // 화면 크기에 맞춰 조정
  outline: none; // 기본 테두리 제거

  h6 {
    margin-bottom: 16px; // 제목과 내용 간격
    font-weight: 600; // 제목 두껍게
  }

  button {
    margin-top: 20px; // 버튼 간격
    width: 100%; // 버튼 전체 너비
  }
}

.list-item {
  background-color: #2ECC71 !important; /* 기본 배경 색상 */
  border-radius: 12px; /* 둥근 모서리 */
  margin: 10px 0; /* 아이템 간격 */
  transition: background-color 0.3s, transform 0.2s; /* 전환 효과 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
  position: relative; /* z-index 적용을 위해 추가 */
  z-index: 10; /* 높은 z-index 값 */
}

.list-item:hover {
  background-color: #E67E22  !important; /* 호버 시 색상 변경 */
  transform: scale(1.05); /* 호버 시 약간 커지는 효과 */
}

.list-item .MuiListItemText-root {
  font-weight: bold; /* 텍스트 두껍게 */
  color: #FFF; /* 텍스트 색상 */
}

.customPagination {
  display: flex;
  justify-content: flex-start; /* 왼쪽 정렬 */
  margin: 0; /* 필요에 따라 여백 조정 */
}
.customButton {
  padding: 6px 12px; /* 패딩 조정 */
  font-size: 14px; /* 글자 크기 조정 */
}

.buttonContainer {
  padding: 10px;
  display: flex;
  //justify-content: flex-end; /* 오른쪽 정렬 */
}
