@use "variables";

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  box-shadow: 0 0 0 1px lightgray;
  height: variables.$HEADER_HEIGHT;
  position: fixed;
  top: 0;
  z-index: 9999;
  & > .container {
    width: 100%;
    max-width: variables.$CONTAINER_WIDTH;
    box-sizing: border-box;
    display: flex;
    align-content: center;
    justify-content: space-between;
    border: 0.5px solid red;
    padding: 0 16px;

    & > .logoSample {
      background-color: aqua;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & > .buttons {
      display: flex;
      align-items: center;
    }
  }
}