.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 0 0 0 1px lightgray;
  height: 64px;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    padding: 0 8px;

    .logoSample {
      & > img {
        height: 48px;
      }
    }
    .buttons {
      display: flex;
      gap: 8px;
    }
  }
}