@use "variables";

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  box-shadow: 0 0 0 1px lightgray;
  height: variables.$HEADER_HEIGHT;
  position: fixed;
  top: 0;
  z-index: 9999;
  background-color: #fff;

  & > .container {
    width: 100%;
    max-width: variables.$CONTAINER_WIDTH;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;

    & > .logoSample {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20px;

      & > img {
        height: 100%;
      }
    }

    & > .buttons {
      display: flex;
      align-items: center;
      position: relative;
      gap: 8px;

      & > .search {
        box-sizing: border-box;
        background-color: variables.$color-300;
      }

      & > .login-btn {
        color: variables.$COLOR_PRIMARY;
        border-color: variables.$COLOR_PRIMARY;
      }

      & > .signup-btn {
        background-color: variables.$COLOR_PRIMARY;
        color: variables.$color-100;
      }

      & > .avatar {
        cursor: pointer;
      }

      & > .menu {
        border-radius: 5px;
        position: absolute;
        width: 120px;
        top: variables.$HEADER_HEIGHT + 2px;
        right: 0;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
        height: 0;
        opacity: 0;
        transition: height 0.5s ease, opacity 0.5s ease;

        & * {
          display: none;
        }

        &.open {
          height: auto;
          opacity: 1;
          transition: height 0.5s ease, opacity 0.5s ease;

          & * {
            display: block;
          }
        }
      }
    }
  }
}