@font-face {
  font-family: "Spoqa";
  src: url("../fonts/SpoqaHanSansNeo-Medium.ttf") format("truetype");
}

body,
html {
  padding: 0;
  margin: 0;
  position: relative;
}

body.modal {
  overflow: hidden;
}

body * {
  font-family: "Spoqa" !important;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

#root {
  min-height: 100vh;
}
