@use "variables";

.login {
  display: flex;
  justify-content: center;
  min-height: 900px;
  padding-top: variables.$LOGIN_FORM_MARGIN_TOP;
  box-sizing: border-box;

  & > .container {
    width: 100%;
    max-width: variables.$CONTAINER_WIDTH;
    display: flex;
    padding: 0 16px;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    & .logo {
      height: 28px;
    }

    & > form {
      display: flex;
      gap: 14px;
      flex-direction: column;
      width: 100%;
      max-width: variables.$LOGIN_FORM_WIDTH;

      & > .btn-group {
        display: flex;
        flex-direction: column;
        gap: 12px;

        & > .login-btn {
          background-color: variables.$COLOR_PRIMARY;
          font-weight: bold;
        }

        & > .register-btn {
          border-color: variables.$COLOR_PRIMARY;
          color: variables.$COLOR_PRIMARY;
        }

        & > .others {
          display: flex;
          gap: 4px;
          justify-content: center;
          & > a {
            color: variables.$color-700;
            text-decoration: none;
          }
        }
      }

      & > .div-social {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 14px;
        color: #ABB0B5;

        & > .separator {
          display: flex;
          align-items: center;
          text-align: center;
          margin: 12px 0 20px 0;
        }

        & > .separator::before,
        & > .separator::after {
          content: '';
          flex: 1;
          border-bottom: 0.4px solid #ABB0B5;
        }

        & > .separator:not(:empty)::before {
          margin-right: .25em;
        }

        & > .separator:not(:empty)::after {
          margin-left: .25em;
        }

        & > .btn-group-social {
          display: flex;
          flex-direction: row;
          justify-content: center;
          gap: 24px;

          & > .login-icon-button {

            & > .icon-circle {
              width: 40px;
              height: 40px;
              transform: scale(1.0)
            }
          }
        }
      }
    }
  }
}
