@use "variables";

.login {
  display: flex;
  justify-content: center;
  min-height: 900px;
  padding-top: variables.$LOGIN_FORM_MARGIN_TOP;
  box-sizing: border-box;
  & > .container {
    width: 100%;
    max-width: variables.$CONTAINER_WIDTH;
    display: flex;
    padding: 0 16px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    & .logo {
      height: 28px;
    }
    & > form {
      display: flex;
      gap: 14px;
      flex-direction: column;
      width: 100%;
      max-width: variables.$LOGIN_FORM_WIDTH;

      & > .btn-group {
        display: flex;
        flex-direction: column;
        gap: 12px;

        & > .login-btn {
          background-color: variables.$COLOR_PRIMARY;
          font-weight: bold;
        }

        & > .register-btn {
          color: variables.$COLOR_PRIMARY;
        }

        & > .others {
          display: flex;
          gap: 4px;
          justify-content: center;
          & > a {
            color: variables.$FONT_COLOR_700;
            text-decoration: none;
          }
        }
      }
    }
  }
}
