@use 'variables';

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;

  & > img {
    width: calc(100% - 32px);
    max-width: 600px;
    user-select: none;
  }
}

.report-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;

  & > .content {
    box-sizing: border-box;
    padding: 24px 24px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    width: calc(100% - 32px);
    max-width: 360px;
    background-color: variables.$color-100;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0 0 0 1px inset;

    & > div {
      width: 100%;
    }

    & > .top {
      text-align: left;
      font-size: 20px;
      font-weight: bold;
    }

    & > .middle {
      & > .report-list {
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 6px;


        & :global(.Mui-checked) {
          color: variables.$COLOR_PRIMARY;
        }

        & .report-description {
          display: flex;
          flex-direction: column;
          gap: 6px;
          padding: 6px 0;
        }

        & * {
          font-size: 15px;
          user-select: none;
        }

        & > .report-submit {
          background-color: variables.$COLOR_PRIMARY;
          font-weight: bold;
          color: #fff;
        }
      }
    }
  }
}

.portfolio-detail {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: variables.$HEADER_HEIGHT;


  & > .container {
    width: variables.$CONTAINER_WIDTH;
    max-width: 100%;
    padding: 32px 16px 64px 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 64px;
    position: relative;

    & > .collapse {
      width: calc(100% - 32px);
      margin: 0 16px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 99;
    }

    & .solution-list-title, & .review-list-title, & .portfolio-list-title {
      font-weight: bold;
      font-size: 16px;
    }

    .bottom {
      & > .review-list-top {
        display: flex;
        justify-content: space-between;

        & > .review-list-title {
          display: flex;
          align-items: center;
          gap: 6px;

          & > span {
            color: variables.$COLOR_PRIMARY;
          }
        }

        & > .order {
          display: flex;
          gap: 16px;

          & > button {
            color: variables.$color-500;
            &.active {
              color: variables.$COLOR_PRIMARY;
            }
          }
        }
      }


      & > .review-list {
        padding: 16px 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 16px;

        & .empty {
          padding: 32px 0;
          display: flex;
          justify-content: center;
          align-items: center;

          & > span {
            color: variables.$color-600;
          }
        }

        & > li {
          list-style: none;
        }
      }
    }

    .middle {
      & > .portfolio-list-title {
        display: flex;
        gap: 8px;

        & > span {
          color: variables.$COLOR_PRIMARY;
        }
      }

      & > .portfolio-swiper {
        padding: 16px 0;
      }
    }

    & > .top {
      display: flex;

      @include variables.media-720 {
        flex-direction: column;
        gap: 32px;
      }

      @include variables.media-540 {
        flex-direction: column;
        gap: 32px;
      }

      @include variables.media-320 {
        flex-direction: column;
        gap: 32px;
      }

      & > .left {
        display: flex;
        box-sizing: border-box;
        width: 60%;
        gap: 4px;

        @include variables.media-720 {
          width: 100%;
          gap: 0;
        }

        @include variables.media-540 {
          width: 100%;
          gap: 0;
        }

        @include variables.media-320 {
          width: 100%;
          gap: 0;
        }

        & > .selected-img {
          flex-grow: 1;

          & > .selected-img-wrapper {
            width: 100%;
            padding-top: 100%;
            position: relative;
            border-radius: 5px;
            overflow: hidden;
            background-color: #e6e6e6;
            cursor: pointer;

            @include variables.media-720 {
              padding-top: 40%;
            }

            @include variables.media-540 {
              padding-top: 40%;
            }

            @include variables.media-320 {
              padding-top: 40%;
            }

            & > img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }

      & > .right {
        width: 40%;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        & .empty {
          padding: 32px 0;
          display: flex;
          justify-content: center;
          align-items: center;

          & > span {
            color: variables.$color-600;
          }
        }

        @include variables.media-720 {
          width: 100%;
          padding-left: 0;
        }

        @include variables.media-540 {
          width: 100%;
          padding-left: 0;
        }

        @include variables.media-320 {
          width: 100%;
          padding-left: 0;
        }

        & > .solution-list-submit {
          background-color: variables.$COLOR_PRIMARY;
          font-weight: bold;
          color: #fff;
        }

        & > .portfolio-solution-list {
          border: 0.5px solid variables.$color-400;
          border-radius: 6px;
          display: flex;
          flex-direction: column;
          gap: 16px;
          height: calc(#{variables.$PORTFOLIO_SOLUTION_LIST_ITEM_HEIGHT} * 3 + 32px);
          overflow-x: hidden;
          overflow-y: scroll;

          &::-webkit-scrollbar {
            width: 5px;
          }

          &::-webkit-scrollbar-thumb {
            background-color: #989898;
          }
        }

        & > .info {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          gap: 8px;

          & > div {
            width: 100%;

            &.top {
              display: flex;
              justify-content: space-between;
              align-items: center;

              & > .btn-group {
                display: flex;
                gap: 8px;

                & * {
                  color: variables.$color-600;
                }
              }
            }
          }

          & .company-name {
            color: variables.$color-600;
            font-size: 16px;
          }

          & .title {
            color: variables.$color-900;
            font-weight: bold;
            font-size: 22px;
          }

          & .description {
            color: variables.$color-800;
            font-size: 16px;
            width: 100%;
            display: block;
            padding: 4px 0;
            margin: 0;
            white-space: pre-wrap;
          }
        }
      }
    }
  }
}

