.portfolio-list-item {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1 1 230px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  & > .top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;

    & > .thumbnail {
      width: 100%;
      display: block;
      object-fit: cover;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  & > .bottom {
    width: 100%;
    font-size: small;
    display: flex;
    flex-direction: column;
    gap: 4px;

    & > .name {
      font-weight: bold;
    }

    & > .info {
      display: flex;
      align-items: center;
      gap: 8px;

      & > .rating {
        display: flex;
        align-items: center;
        gap: 4px;
        font-weight: bold;
      }
    }

    & > .description {
      color: gray;
    }
  }
}