@use 'variables';

.quotation-form {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: variables.$HEADER_HEIGHT;

  & > .container {
    width: variables.$CONTAINER_WIDTH;
    max-width: 100%;
    padding: 32px 16px 64px 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;

    & > .title {
      font-weight: bold;
      font-size: 18px;
    }

    & > .request {
      box-sizing: border-box;
      padding: 16px;
      width: 100%;
      border: 0.5px solid variables.$color-300;
      border-radius: 5px;
    }
  }
}