@use "variables";

.main {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: calc(variables.$CONTAINER_WIDTH - variables.$MYPAGE_SIDEBAR_WIDTH);

  &.expand {
    width: 100%;
  }

  & * {
    box-sizing: border-box;
  }

  & > .container {
    width: 100%;
    max-width: variables.$CONTAINER_WIDTH;
    box-sizing: border-box;
    padding: 16px 32px 0 32px;
    display: flex;
    flex-direction: column;
    height: auto;

    & > .title {
      font-weight: bold;
      font-size: 18px;
      padding: 16px 0;
    }

    & .no-content-div {
      width: 100%;
      padding: 32px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color: variables.$color-500;
    }

    & > .qr-grid-container {
      display: flex;
      gap: 8px;
      padding: 8px 0;
      box-sizing: border-box;
      & > .focus-button {
        border-color: variables.$COLOR_PRIMARY;
        color: variables.$COLOR_PRIMARY;
      }

      & > .button {
        border-color: gray;
        color: gray;
      }

      & > .all-selected {
        color: #2196f3;
        border-color: #2196f3;
      }

      & > .approved-selected {
        color: green;
        border-color: green;
      }
    }

    & > .card-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      & > .card {
        flex: 1 1 calc((100% - 16px) / 2);
        box-sizing: border-box;
        padding: 16px 16px 4px 16px;
        border-radius: 5px;
        max-width: calc((100% - 16px) / 2);
        border: 0.5px solid variables.$color-400;
        & > .top {
          display: flex;
          gap: 8px;
          box-sizing: border-box;
          & > .left {
            & > .avatar {
              width: 64px;
              height: 64px;
            }
          }
          & > .right {
            flex-grow: 1;
            box-sizing: content-box;
            position: relative;
            & > .content {
              width: 100%;
              height: 100%;
              position: absolute;
              display: flex;
              flex-direction: column;
              gap: 5px;
              & * {
                font-size: 14px;
              }
              & > .top {
                display: flex;
                justify-content: space-between;
                & > svg {
                  font-size: 20px;
                }
                &.PENDING {
                  color: variables.$COLOR_PRIMARY;
                }
                &.APPROVED {
                  color: green;
                }
                &.USER_CANCELLED {
                  color: orange;
                }

                &.SELLER_CANCELLED {
                  color: orange;
                }

                &.ADMIN_CANCELLED {
                  color: orange;
                }
                & > span {
                  color: variables.$color-700;
                }
              }
              & > .middle {
                display: flex;
                justify-content: space-between;
                font-size: 14px;
                align-items: center;
                font-weight: bold;
                & > .title {
                  white-space: nowrap; /* 텍스트를 한 줄로 유지 */
                  overflow: hidden; /* 넘치는 텍스트를 숨김 */
                  text-overflow: ellipsis; /* 넘친 부분에 말줄임표 표시 */
                  width: 230px; /* 요소의 너비 설정 */
                }
              }

              & > .bottom {
                white-space: nowrap; /* 텍스트를 한 줄로 유지 */
                overflow: hidden; /* 넘치는 텍스트를 숨김 */
                text-overflow: ellipsis; /* 넘친 부분에 말줄임표 표시 */
                width: 180px; /* 요소의 너비 설정 */
              }
            }
          }
        }

        & > .bottom {
          padding: 18px 0 12px 0;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }

  & > .back-drop {
    z-index: 99999;
    & > .review-modal {
      width: 460px;
      border-radius: 8px;
      padding: 32px;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      box-sizing: border-box;
      gap: 24px;

      & > .review-info {
        font-size: 18px;
        font-weight: normal;
      }

      & > .rate-div {
        display: flex;
        align-items: center;
        gap: 16px;

        & > .rating {
          color: variables.$COLOR_PRIMARY;
        }

        & > .rate-text {
          text-align: center;
        }
      }

      & > .text-field-detail {
        & * {
          font-size: 14px;
        }
      }

      & > .button-div {
        display: flex;
        justify-content: space-between;

        & > .cancel-button {
          color: variables.$COLOR_PRIMARY;
        }

        & > .save-button {
          background-color: variables.$COLOR_PRIMARY;
        }
      }
    }
  }
}
