@use "variables";

.searchList {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-top: variables.$HEADER_HEIGHT;

  & .empty {
    width: 100%;
    padding-top: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    & > span {
      color: variables.$color-600;
    }
  }

  & > .container {
    width: 100%;
    max-width: variables.$CONTAINER_WIDTH;
    box-sizing: border-box;
    padding: 32px 16px 64px 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: auto;

    & .more {
      user-select: none;
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.25) 0 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0 0 0 1px inset;
    }

    & > .search-title {
      font-size: 18px;
      display: flex;
      gap: 8px;
      justify-content: space-between;
      & > .search-menu {
        min-width: 100px; /* 필요에 따라 최소 너비 조정 */
        & > .select {
          margin: 5px;
        }
      }

      span {
        font-weight: bold;
      }
    }

    & > .list {
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
    }
  }
}