@use "variables";

.signup {
  display: flex;
  justify-content: center;
  min-height: 100vh;

  & > .container {
    width: 100%;
    max-width: variables.$CONTAINER_WIDTH;
    display: flex;
    justify-content: center;

    & > form {
      margin-top: variables.$LOGIN_FORM_MARGIN_TOP;
      display: flex;
      gap: 16px;
      flex-direction: column;
      width: 100%;
      max-width: variables.$LOGIN_FORM_WIDTH;

      & > .btn-group {
        display: flex;
        flex-direction: column;
        gap: 12px;

        & > .signup-btn {
          color: variables.$COLOR_PRIMARY;
          border-color: variables.$COLOR_PRIMARY;
          font-weight: bold;
        }
      }
    }
  }
}